# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Temporary uploads
public/temp/*
!public/temp/.gitkeep

# Logs
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
